body {
    font-family: 'Ubuntu', sans-serif;
}

#header {
    background-color: #6C3295;
    vertical-align: middle;
    text-align: center;
    display: table;
    width: 100%;
    height: 10%;
}

#header_links {
    vertical-align:middle;
    display:table-cell;
    font-size: 48px;
    color: #ffffff;
}

#header a {
    text-decoration: none;
    color: #ffffff;
}

#content {
    background-color: #dfdfdf;
    overflow: auto;
    width: 100%;
    height: 90%;
}

#upload_block {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 90%;
}

#post_block {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
    width: 90%;
}

#post_table {
    margin: 3% auto;
    width: 33%;
}

#post_title {
    font-size: 28px;
    font-weight: bold;
}

#post_author {
    font-size: 14px;
}

#image_container {
    background-color: #dfdfdf;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

#image_container img {
    max-width: 100%;
}

img {
    cursor: pointer;
}

*, *:before, *:after{
    box-sizing: border-box;
}

#vote_counter_text {
    float: left;
}

#arrow_container {
    float: right;
}

.arrow{
    position: relative;
    height: 0px;
    width: 0px;
    padding: 0px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

#arrow_up {
    float: left;
}

#arrow_down {
    float: right;
    overflow: hidden;
}

#post_description {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

#post_description:focus {
    outline: none;
}
